.disp{
    display: block;
    width: 133px;
    height: 30px;
    margin: 10px;
    background: antiquewhite;
    border: dotted green 1px;
    border-radius: 25px;
    padding-left: 15px;
}


.tab-content{
    margin: 8px;
    padding: 5px;
}
li{ margin: 5px; }

.nav-tabs {
    border-bottom: 1px solid #3993ee;
   margin-left: 10px;
   background: beige;
}

.pname{
    color: #326464;
    font-weight: bold;
    font-size: 20px;

}
.pprice{
    font-weight: bold;
    font-size: 20px;
}
