.disp{
    display: block;
    width: 133px;
    height: 30px;
    margin: 10px;
    background: antiquewhite;
    border: dotted green 1px;
    border-radius: 25px;
    padding-left: 15px;
}

body{
    background-color: #f7edd0;
}


li{ margin: 5px; }

.nav-tabs {
    border-bottom: 1px solid #3993ee;
   margin-left: 0px;
   background: beige;
}

.pname{
    color: #326464;
    font-weight: bold;
    font-size: 20px;

}
.pprice{
    font-weight: bold;
    font-size: 17px;
}

li a {
    font-size: 22px;
}

div h5{   color: yellow;
    background: black;
}

.nav-tabs {
    position: fixed;
    margin-top: -58px;
}

.tab-content{
    padding: 5px;
    margin-top: 58px;
    border: dotted 2px red;
}

.submenu{
    margin-top: -12px;
    margin-left: 34px;
    position: fixed;
    background-color: aqua;
}

.prod-container{
    margin-top: 7px;
    scroll-margin-block: <length>{1,2};
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #777;
    color: white;
    text-align: center;
    border-radius: 5px;

}
