<!DOCTYPE html>
<html>
<head>
<title>Login</title>

<!--<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">-->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="/static/css/searchAngularJS.css" rel="stylesheet">-->

</head>

<link href="/static/css/validForm.css" rel="stylesheet">



<body>

<div class="container">
  <div class="content-container">

    <form action="/get_name/" method="post">
        {% csrf_token %}


        <!--{{ form.as_p }}-->
        <div class="fieldWrapper">
            {{ form.username.errors }}
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>

        <div class="fieldWrapper">
            {{ form.password.errors }}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>

        <button class="login"> Login</button>
        <button class="media fb" name='facebook'><i class="fa fa-facebook" aria-hidden="true"></i></button>
        <button class="media g" name='google' ><i class="fa fa-google" aria-hidden="true"></i></button>
    </form>


  </div>

</div>



</body>

</html>