<!DOCTYPE html>
<html>
<head>
<title>Login__</title>

<!--<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">-->

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!--<link href="/static/css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="/static/css/searchAngularJS.css" rel="stylesheet">-->

</head>

<link href="/static/css/validForm.css" rel="stylesheet">
<body style="padding: 20px;">

<!--<form action="https://kambo.pythonanywhere.com/get_name/" method="POST">-->
<div class="container">
<form method="post" style="margin: 20px;">{% csrf_token %}

 {{form }} {{val }}

 <input type="submit" value="Submit">
</form>
</div>
<hr>
<div id='csrf'>*</div>

<script>
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
console.log('csrftoken',  csrftoken)
document.getElementById('csrf').textContent = csrftoken
</script>

</body>

</html>