USEFULL COMMANDS
pip install --upgrade --user social-auth-app-django




FRONT END
Build a great user interface
Separar en mongo.html logic and css
Cambiar el orden de los campos en la tabla
Agrupar los campos anio, precio y features en la misma columna
Hacer algo para mejorar las fotos
Agregar productos a favoritos y ocultar
Mostrar algunas features con iconos
Hacer un collapsible para mostrar las descripciones o un show dialog
Arreglar el 0Km
Validar precios y km correctamente
Angularjs table para desplegar la informacion
Poder elegir las features que veo

BACK END
Escrapear varios productos con Beautifull Soup y enviar a mongodb
Para cada producto escrapear mas atributos con beautifull soup  y salvar en mongodb
Agregar log sobre las operaciones
Escrapear del gallito
Improve scripts, add parameters options and result mesages.

STATISTICS
Promedio de dias de un aviso
Agregar el campo para filtrar por dias de publicado
Precio modelo año kilometros en determinado mes
Cantidad de dias para vender

{
    "_id": "_id",
    "id": "id",
    "title": "title",
    "permalink": "permalink",
    "description": "description",
    "seller_name": "seller_name",
    "price": "price",
    "phone": "phone",
    "last_updated": "last_updated",
    "features": "features"
}

