<!DOCTYPE html>
<html ng-app="json_retrieve">

<head>
    <title>render_json_rep</title>
</head>

<body ng-controller="Controller">
<p> JSON CALL </p>

{% verbatim myblock %}
<pre>   {{ pretty_json }} </pre>

     <ul>
        <li>Brand: {{ data.brand }}</li>
        <li>Model: {{data.model}}</li>
        <li>Price: {{data.price}}</li>
        <li>Generation: {{data.generation}}</li>
        <li><pre> Glossary: {{data.glossary | json }}</pre> </li>


     </ul>
{% endverbatim myblock %}


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
<script type="text/javascript">

    console.log("START")
    j_resp = '';
    var app = angular.module('json_retrieve', []);

    app.controller('Controller', function($scope,$http ) {
        $scope.name = 'The world is mine';
        $scope.data = "{id: '1111', name: 'Florida'},";
        $scope.pretty_json = '';

        $scope.submit = function () {
            console.log(" inside SUBMIT: ");
            $http.get("https://kambo.pythonanywhere.com/response_json_rep")
                .then(function(response) {
                    j_resp = JSON.parse(response.data);
                    $scope.data = j_resp;
                    $scope.pretty_json = JSON.stringify(j_resp, null, '\t');
                    console.log(j_resp);

                });
        };

        $scope.submit()

    });

</script>

</body>
</html>


