<div class="container">
<div>
<a target="_blank" href="/admin">1- Admin </a><br>
<a target="_blank" href="/api-auth/login">2- Login REST API </a><br>
<a target="_blank" href="/find_files/">3- Find_files</a><br>
<a target="_blank" href="/send_retrieve_favorite/">4-  **************  Send and retrieve favorites</a><br>
<a  target="_blank" href="/search_REST_API/">5 -Angular searches in a  REST API, black screen </a><br>
<a target="_blank" href="/searchAngularJS/">6- Angular fills a table and allows you search by price </a><br>
<a target="_blank" href="/simpleSearch">7- Search Django template and pagination </a><br>
<a target="_blank" href="/render_json_rep_template/">8- Retrieve a json from an object field and render it with an Angular controller</a><br>
<a target="_blank" href="/">9- REST API </a><br>
<a target="_blank" href="/mongodb">10- mongodb</a><br>

<a target="_blank" href="/camera">11- camera</a><br>

<a target="_blank" href="/newspaper">12- newspaper</a><br>
<a target="_blank" href="/salvattore">13- salvattore</a><br>
<a target="_blank" href="/get_name">14- Form</a><br>
<a target="_blank" href="/validForm">15- validForm</a><br>



</div>

<hr style="width: 300px; display:-webkit-inline-box;">
<br>
<div>
<a target="_blank" href="https://www.pythonanywhere.com/user/kambo/webapps/#tab_id_kambo_pythonanywhere_com">Refresh </a><br>
<a target="_blank" href="https://www.pythonanywhere.com/user/kambo/consoles/7863848/">Bash </a><br>
</div>
<hr style="width: 300px; display:-webkit-inline-box;">

<div>

<a target="_blank" href="/geolocalization_template/">Geolocalization_template</a><br>
<a target="_blank" href="/list_cars_json/">Retrieves a Car list and sent its json object representation</a><br>
<a target="_blank" href="/json_favorites/">Currently logged user's favorites</a><br>
<a target="_blank" href="/loginForm/">You need to login</a><br>
<a target="_blank" href="/popover/">Popover example</a><br>
<a target="_blank" href="/version/">Currently Django and Python versions</a><br>
<a target="_blank" href="/response_json_rep">The same response_json_rep used in 8</a><br>
<a target="_blank" href="/message">Message</a><br>
<a target="_blank" href="/version">Settings</a><br>

<br>
<!--<a target="_blank"  href="/version/">_blank version</a><br>-->
<!--<a target="_self" href="/version/">_self version</a><br>-->
<!--<a target="_parent" href="/version/">_parent version</a><br>-->
<!--<a target="_top" href="/version/">_top parent version</a><br>-->


</div>

</div>