<style>
a {
    color: #eae7e8;
    text-decoration: none;
}

</style>
<div class="container">
<div>

<a target="_blank" href="/signup">signup</a><br>
<a target="_blank" href="/jsmenu"> jsmenu</a><br>

AUTH <BR>
<a target="_blank" href="/authorize_json">17- authorize_json</a><br>
<a target="_blank" href="/authorize_json_babel">18- authorize_json_babel</a><br>
<a target="_blank" href="/auth0">20- auth0</a><br>
<a target="_blank" href="/change-password">change-password </a><br>
<a target="_blank" href="/api-auth/login">*2- Login REST API </a><br>
<a target="_blank" href="/get_name">14- LoginForm</a><br>
<a target="_blank" href="/api-token-auth/">22 api-token-auth</a><br>

<a target="_blank" href="/admin">*1- Admin </a><br>
<a target="_blank" href="/find_files/">*3- Find_files</a><br>
<a target="_blank" href="/send_retrieve_favorite/">4-  Sending  and retrieving favorites</a><br>
<a  target="_blank" href="/search_REST_API/">*5 -Angular searches in a  REST API, black screen </a><br>
<a target="_blank" href="/searchAngularJS/">*6- Angular fills a table and allows you to search by price </a><br>
<a target="_blank" href="/simpleSearch">7- Searching template with pagination </a><br>
<a target="_blank" href="/render_json_rep_template/">8- Rendering json through an angular controller </a><br>
<a target="_blank" href="/">*9- REST API </a><br>
<a target="_blank" href="/mongodb">10- mongodb</a><br>

<a target="_blank" href="/camera">11- camera</a><br>

<a target="_blank" href="/newspaper">12- newspaper</a><br>
<a target="_blank" href="/salvattore">13- salvattore</a><br>
<a target="_blank" href="/validForm">*15- validForm</a><br>
<a target="_blank" href="/realStateMaps">*16- realStateMaps</a><br>


<a target="_blank" href="/react_bootstrap">19- react_bootstrap</a><br>
<a target="_blank" href="/ExampleAuth/">21 ExampleAuth</a><br>
<a target="_blank" href="http://mobalx.pythonanywhere.com/paypal_log_view/">23 pplog</a><br>

<a target="_blank" href="/dream_factory/">24 DreamFactory</a><br>
<a target="_blank" href="/cross_header/">25 cross_header</a><br>
<a target="_blank" href="/qr_code/">26 qr_code</a><br>
<a target="_blank" href="/risto_menu/">27 risto_menu</a><br>



</div>

<hr style="width: 300px; display:-webkit-inline-box;">
<br>
<div>
<a target="_blank" href="https://www.pythonanywhere.com/user/kambo/webapps/#tab_id_kambo_pythonanywhere_com">Refresh </a><br>
<a target="_blank" href="https://www.pythonanywhere.com/user/kambo/consoles/7863848/">Bash </a><br>
</div>
<hr style="width: 300px; display:-webkit-inline-box;">

<div>

<a target="_blank" href="/geolocalization_template/">Geolocalization_template</a><br>
<a target="_blank" href="/list_cars_json/">Retrieves a Car list and sent its json object representation</a><br>
<a target="_blank" href="/json_favorites/">Currently logged user's favorites</a><br>
<a target="_blank" href="/loginForm/">You need to login</a><br>
<a target="_blank" href="/popover/">Popover example</a><br>
<a target="_blank" href="/version/">Currently Django and Python versions</a><br>
<a target="_blank" href="/response_json_rep">The same response_json_rep used in 8</a><br>
<a target="_blank" href="/message">Message</a><br>
<a target="_blank" href="/version">Settings</a><br>

<br>
<!--<a target="_blank"  href="/version/">_blank version</a><br>-->
<!--<a target="_self" href="/version/">_self version</a><br>-->
<!--<a target="_parent" href="/version/">_parent version</a><br>-->
<!--<a target="_top" href="/version/">_top parent version</a><br>-->

</div>

</div>